<div class="mt-4">
    <h3>Đăng sản phẩm</h3>

    <form method="POST" action="/product/store">
    <div class="auth-form__group">
        <label for="name" class="form-label">Tên sản phẩm</label>
        <input type="text" class="auth-form__input" id="name" name="name">
    </div>
    <div class="auth-form__group">
        <label for="price" class="form-label">Giá sản phẩm</label>
        <input type="text" class="auth-form__input" id="price" name="price">
    </div>
    <div class="auth-form__group">
        <label for="label" class="form-label">Phân loại</label>
        <input type="text" class="auth-form__input" id="label" name="name">
    </div>
    <div class="auth-form__group">
        <label for="image" class="form-label">Link ảnh sản phẩm</label>
        <input type="text" class="auth-form__input" id="image" name="image">
    </div>
    <div class="auth-form__group">
        <label for="description" class="form-label">Mô tả sản phẩm</label>
        <input type="text" class="auth-form__input" id="description" name="description">
    </div>

    <button type="submit" class="btn btn--primary">Thêm sản phẩm</button>
    </form>
</div>